/* Colors */
:root {
  --dark-color:  #2B2D42;
  --light-color: #FEFEFE;
  --red-color:   #D80032;
  --cyan-color:  #41EAD4;

  --red-hover-color:  #be0732;
  --cyan-hover-color: #6af3e1;
}

/* Rest */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 1152px;
  margin: 0 auto;
  padding: 0 100px;
}

/* Header - Navigation */
.desktop-nav {
  display: flex;
  justify-content: space-between;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
}

.desktop-nav .menu-items li {
  margin: 0 20px; 
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
}